h1{
    color: oklab(47.643% 0.02586 -0.29855);
    font-size: 24px;
}
p{
    color: chocolate;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
.destaque{
    color: violet;
    font: bold;
}
#btn-principal{
    background-color: darkgray;
    color: white;
    padding: 10px, 20px;
    border: none;
    border-radius: 5px;
}
.caixa{
    width: 200px;
    padding: 20px;
    border: 2px solid;
    margin: 15px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    background-color: #e0e0e0;
    padding: 15px;
}